$mainColor: #EF0D33;
$secondaryColor: #ffffff;
$tertiaryColor: #444444;
$bgColor: #111517;

#timeLineContainer{
    height: calc(100vh - 80px);
    min-height: 625px;
    background-color: $bgColor;
    display: grid;
    grid-template-rows: 200px 1fr;
    overflow-y: auto;
}

.quit{
    display: none !important;
}


#cardelContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.tittleMap{
    color: $secondaryColor;
    font-family: "Bebas Neue", cursive;
    font-size: 150px;
}

#leftTittle{
    animation: leftIn .5s linear;
}

#rightTittle{
    animation: rightIn .5s linear;
}

@keyframes leftIn {
    0%{
        transform: translateX(75px);
        opacity: 0;
    }
    50%{
        transform: translateX(-30px);
    }
}

@keyframes rightIn {
    0%{
        transform: translateX(-75px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px);
    }
}

.hidde{
    display: none;
}

#lineContainer{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: 1fr 2px 1fr;
    height: 100%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#lineWrap{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#line{
    width: 100%;
    height: 2px;
    background-color: $mainColor;
    animation: lineEnter 1s linear;
}

@keyframes lineEnter{
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0px);
    }
}

@media(max-width:1011px){
    #lineContainer{
        grid-template-columns: 1fr 2px 1fr;
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
        overflow: hidden;
        height: 95%;
    }

    #lineWrap{
     grid-column: 2 / 3;
     grid-row: 1 / -1;
    }

    #line{
        width: 100%;
        height: 100%;
        background-color: $mainColor;
        animation: lineEnter 1s linear;
    }

    
    @keyframes lineEnter{
        0%{
            transform: translateY(-100vh);
        }
        100%{
            transform: translateY(0px);
        }
    }
}

@media(max-width:630px){
    #timeLineContainer{
        grid-template-rows: 100px 1fr;
    }

    #leftTittle, #rightTittle{
        font-size: 7rem;
    }
}

@media(max-width:420px){
    #timeLineContainer{
        grid-template-rows: 80px 1fr;
    }

    #leftTittle, #rightTittle{
        font-size: 5rem;
    }
}
