$mainColor: #EF0D33;
$secondaryColor: #ffffff;
$tertiaryColor: #444444;
$bgColor: #111517;

#timeLineContainer{
    height: calc(100vh - 82px);
    background-color: $bgColor;
    border-top: 2px solid $tertiaryColor;
    display: grid;
    grid-template-rows: 200px 1fr;
}

#cardelContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.tittleMap{
    color: $secondaryColor;
    font-family: "Bebas Neue", cursive;
    font-size: 150px;
}

#leftTittle{
    animation: leftIn .5s linear;
}

#rightTittle{
    animation: rightIn .5s linear;
}

@keyframes leftIn {
    0%{
        transform: translateX(75px);
        opacity: 0;
    }
    50%{
        transform: translateX(-30px);
    }
}

@keyframes rightIn {
    0%{
        transform: translateX(-75px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px);
    }
}

.hidde{
    display: none;
}

#lineContainer{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: 1fr 2px 1fr;
    height: 100%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#lineWrap{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#line{
    width: 100%;
    height: 2px;
    background-color: $mainColor;
    animation: lineEnter 1s linear;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

@keyframes lineEnter{
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0px);
    }
}

.lineplaceholder{
    
}

