@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mansalva&display=swap');

$mainColor: #EF0D33;
$secondaryColor: #ffffff;
$bgColor: #111517;

#navMenuWrap{
    display: block;
    width: 100%;
    margin-top: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

#navMenuWrap > ul{
    width: 45%;
}

#navMenuWrap > ul > li{
    color: $secondaryColor;
    list-style: none;
    font-family: "Bebas Neue", cursive;
}
#navMenuWrap > ul > li > p{
    font-size: 3rem;
    transition: all 300ms;
    padding-left: 20px;
    transition: all 500ms;
}

#navMenuWrap > ul > li:hover .NavOptionText{
    background-color: $mainColor;
    color: $secondaryColor;
    padding-left: 40px;
    border-right: 1px solid $secondaryColor;
}

