@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Bebas+Neue&display=swap');

$mainColor: #EF0D33;
$secondaryColor: #ffffff;
$bgColor: #111517;;
$tertiaryColor: #444444;

*{
    margin: 0px;
    padding: 0px;
}


#bgImage{
    width: 100%;
    height: 100vh;
    filter: grayscale(100%);
}

header{
    height: calc(100vh - 160px);
    background: linear-gradient(225deg, $mainColor -10%, $bgColor 100%);
    position: relative;
    padding-bottom: 80px;
    overflow: hidden;
    width: 100%;
    min-height: calc(470px);
}

#headerContent{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

#tittleIdPage1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 4rem;
    letter-spacing: 1px;
    color: $secondaryColor;
    display: block; 
    font-weight: normal;
    text-transform: uppercase;
}

#tittleIdPage2{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 4rem;
    color: $secondaryColor;
    display: block; 
    font-weight: normal;
    text-transform: uppercase;
}

#leftSideHeader{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    height: 450px;
}

#rightSideHeader{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Tittle-Line{
    background-color: $mainColor;
    width: 100%;
    height: 3px;
}

#headerDesc{
    color: $secondaryColor;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-top: 15px;
    letter-spacing: 1px;
}

#headerButtonWrap{
    background-color: $mainColor;
    width: 250px;
    margin-top: 20px;
    border-radius: 5px;
    background: linear-gradient(90deg, $mainColor 50%, $bgColor 50%);
    background-size: 500px;
    transition: all 300ms;
}

#headerButton{
    font-family: "Bebas Neue", cursive;
    width: 250px;
    height: 62px;
    background-color: transparent;
    color: $secondaryColor;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: all 300ms;
    cursor: pointer;
    border: 1px solid $bgColor;
}

#headerButtonWrap:hover{
    background-position: -250px 0px;
}

#headerButtonWrap:hover #headerButton{
    color: $mainColor;
    border: 1px solid $mainColor;
}

#imgWrap{
    width: 400px;
    height: 400px;
    border-radius: 500px;
    overflow: hidden;
    position: relative;
    user-select: none;
    border: 2px solid $bgColor;
}

#profileImg{
    width: 550px;
    position: absolute;
    left: -80px;
    top: -30px;
}

#headerBotton{
    margin: auto;
    display: block;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}

#headerBottonContent{
    margin: auto;
    width: 90%;
    border-top: 1px solid $tertiaryColor;
}

@media (max-width: 1399px){
    #tittleIdPage1{
        font-size: 3rem;
    }
    #tittleIdPage2{
        font-size: 3rem;
    }
    #headerDesc{
        font-size: 1rem;
    }
}

@media (max-width: 1081px){
    #tittleIdPage1{
        font-size: 2rem;
    }
    #tittleIdPage2{
        font-size: 2rem;
    }
    #headerDesc{
        font-size: .9rem;
    }
}

@media (max-width: 999px){
    #headerContent{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    #rightSideHeader{
        grid-row: 1 / 2;
        width: 100%;
        height: 200px;
    }

    #leftSideHeader{
        margin: auto;
        width: 90%;
        padding: 0px;
        justify-content: flex-start;
        align-items: center;
    }

    #imgWrap{
        width: 150px;
        height: 150px;
    }

    #profileImg{
        width: 200px;
        top: -6px;
        left: -30px;
    }

    #headerDesc{
        text-align: center;
        font-size: 1rem;
        width: 90%;
    }

    #tittleIdPage1{
        text-align: center;
    }

    #tittleIdPage2{
        text-align: center;
        font-size: 2rem;
    }

    #Tittle-Line{
        width: 0%; 
    }
}

@media (max-width: 379px){
    #tittleIdPage2{
        font-size: 1.5rem;
    }
    #headerDesc{
        font-size: .8rem;
        font-weight: normal;
    }
    #headerButtonWrap{
        width: 200px;
        height: 60px;
    }
    #headerButton{
        width: 200px;
        height: 60px;
    }
    #tittleIdPage1{
        display: none;
    }
}