$mainColor: #EF0D33;
$secondaryColor: #ffffff;
$bgColor: #111517;;
$tertiaryColor: #444444;

.navBarFooterIcon{
    width: 50px;
    fill: $secondaryColor;
    transition: all 300ms;
    margin-left: 10px;
}

.navBarFooterIcon:hover{
    transform: scale(1.2);
}

.technologiesIcon{
    fill: $secondaryColor;
    width: 100px;
    transition: all 300ms;
    opacity: 80%;
}

.technologiesIcon:hover{
    transform: scale(1.2);
    opacity: 100%;
}

.contactIcon{
    width: 25%;
    fill: $secondaryColor;
}

.cartelAbout{
    width: 150px;
    fill: $secondaryColor;
    animation: Appear .9s linear;
    transform: rotateZ(-10deg);
    opacity: 1;
    height: 100%;
}


@media(max-width:630px){
    .cartelAbout{
        width: 7rem;
    }
}

@media(max-width:420px){
    .cartelAbout{
        width: 5rem;
    }
}

@keyframes Appear {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    55%{
        opacity: 1;
    }
    60%{
        transform: translateY(-30px);
    }
    70%{
        transform: rotateZ(10deg);
    }
    80%{
        transform: rotateZ(-10deg);
    }
    100%{
        transform: translateY(0px);
        transform: rotateZ(-10deg);
    }
}

