$mainColor: #EF0D33;
$secondaryColor: #ffffff;
$bgColor: #111517;;
$tertiaryColor: #444444;

.navBarFooterIcon{
    width: 50px;
    fill: $secondaryColor;
    transition: all 300ms;
    margin-left: 10px;
}

.navBarFooterIcon:hover{
    transform: scale(1.2);
}

.technologiesIcon{
    fill: $secondaryColor;
    width: 100px;
    transition: all 300ms;
    opacity: 80%;
}

.technologiesIcon:hover{
    transform: scale(1.2);
    opacity: 100%;
}